@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Roboto Slab */
    @font-face {
      font-family: 'Roboto Slab';
      src: url('/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf') format('truetype');
    }
    @font-face {
      font-family: 'Acidic';
      src: url('/fonts/Acidic/Acidic.TTF') format('truetype');
    }
}

@layer components {
    :root {
        @apply  font-roboto-slab
                text-base md:text-lg
                /* Colours */
                bg-primary text-secondary
                dark:bg-secondary dark:text-primary;
        /* Colour definitions */
        --cbPurple: #a07cff;
        --cbBlue: #3692e3;
        --cbAqua: #48fabd;
        --cbGreen: #60e336;
        --cbYellow: #fbeb3c;
    }

    .sidebar-button {
        @apply  
            fixed top-0 right-0
            px-4 pt-4;
    }

    .inline-link {
        @apply  font-bold border-b-[2px] border-dashed
                border-secondary dark:border-yellow;
    }

    .card {
        @apply  border-[2px] border-dashed
                border-secondary;
    }

    .card-body {
        @apply  /* Small devices */
                pt-2 pb-8 px-[0.5rem]
                /* Larger devices */
                md:pt-4 md:px-4 md:pb-8;
    }

    .card-title {
        @apply text-lg pt-0 px-2;
    }

    .image-container {
        @apply  grid grid-flow-row 
                grid-cols-1 md:grid-cols-2 lg:grid-cols-3
                space-y-1 
                max-w-3xl
                place-content-around
                overflow-clip;
    }

    .image {
        @apply px-2 w-fit h-fit self-center;
    }

    .three-d-model-viewer {
        @apply  flex flex-col
                w-full h-[250px] md:h-[350px] lg:h-[500px] border-dashed border-[2px]
                /* Colours */
                border-purple dark:border-aqua;
    }

    .blog-image {
        @apply  flex flex-col aspect-auto
                w-full h-auto 
                border-dashed border-[2px]
                /* Colours */
                border-purple dark:border-aqua;
    }

    /* Page stuff */

    .page {
        @apply  
            flex flex-col
            min-h-screen w-full absolute pb-24
            place-items-center
            /* Colours */
            bg-primary text-secondary
            dark:bg-secondary dark:text-primary;
    }
    
    .page-header {
            @apply 
                pt-2 w-full
                border-b-[2px] border-dashed
                font-bold
                text-3xl uppercase
                /* colours */
                border-red dark:border-aqua;
    }
    
    .page-dotted-divider {
        @apply border-t-[2px] border-dashed bg-secondary;
    }

    .page-paragraph {
        @apply  
                text-base whitespace-pre-wrap
                place-content-center 
                font-normal
                normal-case
                /* Colours */
                border-secondary;
    }

    .page-dropdown {
        @apply 
            right-0 top-0 rounded-none
            /* Colours */
            bg-primary text-secondary
            /* Extra */
            ;

    }

    .page-dropdown-button {
        @apply
            border-2
            /* Colours */
            text-secondary border-secondary border-dashed
            dark:text-primary dark:border-primary dark:bg-none
            w-4 h-4;
    }

    .page-navbar {
        @apply  grid grid-flow-col 
                place-content-center
                w-full px-2 h-[200px]
                content-center
                border-b-[2px] border-dashed
                /* Colours */
                bg-primary dark:bg-secondary
                border-red dark:border-aqua;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .page-navbar-group {
        @apply flex-none mx-auto place-self-end;
    }

    .page-basic-button {
        @apply  border-b-2 border-dashed
                text-secondary border-secondary
                hover:bg-secondary hover:bg-opacity-25
                dark:text-primary dark:border-primary
                dark:hover:bg-primary dark:hover:bg-opacity-25;
    }

    .page-link {
        @apply page-basic-button appearance-none;
    }

    .page-sidebar-button {
        @apply  page-basic-button
                flex items-start;
    }

    .page-blog-description {
        @apply italic;
    }

    .page-blog-date {
        @apply  italic text-sm;
    }

    .page-list-item {
        @apply  flex flex-col
                border-[2px] border-dashed 
                mt-2 p-4 pt-2 space-y-2
                border-secondary;
    }

    .page-link-button {
        @apply page-link border-[2px] px-2 max-w-[50vw];
    }

    .page-footer {
        @apply 
            border-t-[2px] border-dashed
            grid grid-flow-col
            w-full min-h-fit
            /* Padding */
            px-4 pb-8 pt-1

            space-x-4 justify-items-stretch
            /* Placement */
            bottom-0 fixed
            /* Colours */
            bg-secondary text-primary
            border-primary;
    }

    .page-footer-header {
        @apply
            font-bold text-base;
    }

    .page-body {
        @apply  p-8 md:px-8 lg:px-12
                flex flex-col w-full max-w-6xl
                place-items-center;
    }

    .page-sidebar {
        @apply 
            border-l-[2px] border-dashed z-10
            fixed top-0 right-0
            px-4 pt-4
            w-[35vw] h-full 
            /* Colours */
            bg-primary
            border-secondary
            dark:bg-secondary
            dark:border-primary;
    }

    .page-card {
        @apply  card rounded-none p-0
                border-[2px] border-dashed
                border-secondary dark:border-primary;
    }

    /* Blog stuff */

    .blog-title {
        @apply  text-5xl font-bold pt-4
                border-b-[2px] border-dashed
                /* Colours */
                text-secondary dark:text-primary
                border-secondary dark:border-yellow;
    }

    .blog-post-date {
        @apply  italic
                text-secondary dark:text-primary;
    }
    
    .blog-post-link {
        @apply  text-start 
                border-b-2 border-dashed
                text-secondary 
                hover:bg-secondary hover:bg-opacity-25
                dark:text-primary 
                dark:hover:bg-primary dark:hover:bg-opacity-25 text-xl
                mb-2
                /* Colours */
                border-blue
                dark:border-yellow;
    }

    .blog-post-list {
        @apply space-y-4 p-4 w-full max-w-6xl;
    }

    .blog-post-card {
        @apply  flex flex-col 
                border-[2px] border-dashed 
                space-y-4 border-red
                dark:border-aqua
                p-2;
    }

    .blog-dropdown {
        @apply  border-[2px] border-dashed rounded-none appearance-none
                p-1 m-2
                bg-primary text-secondary
                border-red
                dark:bg-secondary dark:text-primary
                dark:border-purple;
    }

    .blog-inline-link {
        @apply  appearance-none 
                border-b-2 border-dashed
                text-secondary border-secondary
                hover:bg-secondary hover:bg-opacity-25
                dark:text-primary dark:border-primary
                dark:hover:bg-primary dark:hover:bg-opacity-25;
    }

    .blog-prose {
        @apply  prose place-items-center p-8 md:px-8 lg:px-12
                w-full max-w-6xl
                /* Colours */
                prose-blockquote:px-4
                prose-blockquote:bg-yellow dark:prose-blockquote:bg-purple 
                prose-blockquote:text-secondary dark:prose-blockquote:text-primary                /* Header */
                prose-headings:border-b-[2px] prose-headings:border-dashed 
                prose-headings:border-secondary dark:prose-headings:border-primary
                prose-headings:text-secondary dark:prose-headings:text-primary

                /* h1 */
                prose-h1:border-purple dark:prose-h1:border-purple
                /* prose-h1:shadow-2xl */

                /* h2 */
                prose-h2:border-yellow dark:prose-h2:border-yellow
                /* prose-h2:shadow-xl */

                /* h3 */
                prose-h3:border-aqua dark:prose-h3:border-aqua
                /* prose-h3:shadow-lg */

                /* h4 */
                prose-h4:border-blue dark:prose-h4:border-blue

                /* h5 */
                prose-h5:border-red dark:prose-h5:border-red

                /* h6 */
                prose-h6:border-green dark:prose-h6:border-green
                
                /* Text styling */
                /* prose-a:text-secondary dark:prose-a:text-primary
                prose-p:text-secondary dark:prose-p:text-secondary */
                
                prose-pre:text-secondary dark:prose-pre:text-primary
                prose-ul:text-secondary dark:prose-ul:text-primary
                prose-tr:text-secondary dark:prose-tr:text-primary
                prose-th:text-secondary dark:prose-th:text-primary
                prose-td:text-secondary dark:prose-td:text-primary
                prose-ol:text-secondary dark:prose-ol:text-primary
                prose-li:text-secondary dark:prose-li:text-primary
                /* Italic */
                prose-em:text-secondary dark:prose-em:text-primary
                prose-em:border-b-[2px] prose-em:border-dotted
                prose-em:border-blue dark:prose-em:border-green

                /* Bold */
                prose-strong:text-secondary dark:prose-strong:text-primary
                prose-strong:border-b-[2px] prose-strong:border-dashed
                prose-strong:border-purple dark:prose-strong:border-yellow

                /* Basic text */
                text-secondary dark:text-primary;
    }
}